# Descarga de información histórica de Yahoo Finance

El siguiente código permite descargar información histórica desde la plataforma de Yahoo Finance.

Lo primero será instalar e importar la librería de Yahoo Finance.

Para instalar, corre la siguiente línea de código:

In [ ]:
pip install yfinance

Para importar la librería recién instalada, utiliza el siguiente comando e importa la librería junto con pandas.

In [ ]:
import pandas as pd
import yfinance as yf

from IPython.display import display # Esta librería es sólo para ver los dataframes bonitos.

Ahora vamos a crear una lista de TICKERS, símbolos de identificación bursátil, para poder descargar nuestra información. Utiliza tus propios tickers. Esos los puedes consultar en Yahoo Finance, al buscar la empresa, te sale el ticker en azul. También en Google puedes preguntar por los tickers de cada una de la empresas que utilizarás.

In [ ]:
# Lista 1
tickers_list_1 = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']

# Lista 2
tickers_list_2 = ['NFLX', 'NVDA', 'BABA', 'META', 'AMD']

Para descargar la información histórica, utilizaremos un **for loop**, para recorrer cada Ticker de la lista 1 y de la lista 2. Lo que hacemos es crear un Dataframe vacío, y luego tomamos la información del ticker 1 (sólo la del Close) y cambiamos el nombre de la columna (que sería 'Close') por la del ticker. Finalmente, concatenamos la información, **con axis = 1**, para tener los 5 tickers en columnas.

In [ ]:
# Descargar la información histórica para cada ticker de la lista 1
historical_data_1 = pd.DataFrame()  # DataFrame vacío para almacenar los datos
for ticker in tickers_list_1:
    data = yf.Ticker(ticker).history(period="1y")[['Close']]
    data.columns = [ticker]  # Cambiar el nombre de la columna a ser el ticker
    historical_data_1 = pd.concat([historical_data_1, data], axis=1)

# Descargar la información histórica para cada ticker de la lista 2
historical_data_2 = pd.DataFrame()  # DataFrame vacío para almacenar los datos
for ticker in tickers_list_2:
    data = yf.Ticker(ticker).history(period="1y")[['Close']]
    data.columns = [ticker]  # Cambiar el nombre de la columna a ser el ticker
    historical_data_2 = pd.concat([historical_data_2, data], axis=1)

# Finalmente, ajustamos el índice DateTime para que solo muestre año, mes y día
historical_data_1.index = historical_data_1.index.date
historical_data_2.index = historical_data_2.index.date

Para corroborar que nuestros datos son correcto, podemos ver los primeros registros utilizando **head**.

In [ ]:
# Muestra los primeros datos descargados de ambas listas
print("Datos históricos de la lista 1:\n")
display(historical_data_1.head())

print("\nDatos históricos de la lista 2:\n")
display(historical_data_2.head())

Datos históricos de la lista 1:

                  AAPL        MSFT       GOOGL        AMZN        TSLA
2023-10-05  174.019516  316.980682  134.736374  125.959999  260.049988
2023-10-06  176.586395  324.821899  137.240158  127.959999  260.529999
2023-10-09  178.078766  327.362793  138.078094  128.259995  259.670013
2023-10-10  177.481812  325.943451  137.718979  129.479996  263.619995
2023-10-11  178.884628  329.943451  140.202850  131.830002  262.989990

Datos históricos de la lista 2:

                  NFLX       NVDA       BABA        META         AMD
2023-10-05  372.589996  44.674480  80.804024  303.875092  102.910004
2023-10-06  381.510010  45.748161  83.112152  314.483124  107.239998
2023-10-09  385.950012  45.259304  81.943596  317.404327  106.970001
2023-10-10  373.320007  45.784149  84.184128  320.873871  109.010002
2023-10-11  365.929993  46.791840  84.773239  326.835938  108.309998

Por último exporta tus datos a un archivo de Excel, donde la hoja uno sean los datos que consideras tienen correlación entre sí, y la hoja dos los datos donde consideras que no tienen correlación.

In [ ]:
# Crea un archivo Excel con dos hojas
with pd.ExcelWriter('Equipo X.xlsx') as writer: # Ponle un nombre cool a tu equipo!!
    # Exporta el primer DataFrame a la hoja "correlacionados"
    historical_data_1.to_excel(writer, sheet_name='correlacionados')

    # Exporta el segundo DataFrame a la hoja "no correlacionados"
    historical_data_2.to_excel(writer, sheet_name='no correlacionados')

print("Los datos han sido exportados exitosamente al archivo 'Equipo X.xlsx'")

Los datos han sido exportados exitosamente al archivo 'Equipo X.xlsx'